.timer {
  margin-top: 0.5rem;
  text-align: center;
  width: 250px;
}

.bar-bg {
  height: 8px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.bar {
  height: 8px;
  background: #ff9800;
  transition: width 1s linear;
}

.timer p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #fff;
}
